@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    background-color: #0A0A0B;
    color: #FAFAFA;
    margin: 0;
    padding: 0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0A0A0B;
}

::-webkit-scrollbar-thumb {
    background: #27272A;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3F3F46;
}